---
fqdn: ${subdomain}.${domain}
fqdn_static: ${subdomain_static}.${domain}
fqdn_forward: ${subdomain_forward}.${domain}
netbird_group_id: ${netbird_group_id}
s3_bucket_name: ${s3_bucket_name}
s3_backupbucket_name: ${s3_backupbucket_name}
s3_endpoint: ${s3_endpoint}
s3_region: ${s3_region}
s3_cdn_endpoint: ${s3_cdn_endpoint}